**/target/*
**/logs/*
*.class
*.war
*.ear
*.ipr
*.iml
*.iws
*.log
*.idea
*.pyc
.DS_Store
target
*.hprof
*.hprof.*
dependency-reduced-pom.xml
node/
node_modules/
generic-typeahead/
scratch/
bower_components/
.tmp/
.sass-cache/
worksheet.sc
.profiler/
hybrid-sentiment-*
sentiment-evaluation-*
word-vectors
event-report.tsv
/website/nbproject/private/
stock-prices/
AwsCredentials.properties-*
*~
sampled-documents/
nbproject/
*.Rhistory
